<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="cmdb/home" method="post" enctype="multipart/form-data">
        <p><input type="user" name="user" placeholder="user"></p>
        <p><input type="password" name="pwd" placeholder="pwd"></p>
        <p>man: <input type="radio" name="gender" value="1"></p>
        <p>woman: <input type="radio" name="gender" value="2"></p>
        <p>c: <input type="checkbox" name="flavor" value="11"></p>
        <p>python: <input type="checkbox" name="flavor" value="22"></p>
        <p>java: <input type="checkbox" name="flavor" value="33"></p>
        <p>
            <input type="file" name="faaa">
        </p>
        <input type="submit" value="submit">
    </form>

</body>
</html>